<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Edit</title>
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
  <!-- <link rel="stylesheet" href="/css/styles.css">  -->
</head>
<body>
<h1>Edit Project Page</h1>
    <!-- <form method="POST" action="/probono"> -->
      <div class="edit-page-container">
      <form action="/probono/<%=project.id%>?_method=PUT" method="POST" >
      <fieldset>
        <label for="projectName"> Project Name:</label>
        <input id="projectName" type="text" name="projectName" required value="<%=project.projectName%>">
      </fieldset>
      <fieldset>
        <label for="projectDescription"> Project Description</label>
        <input id="projectDescription" type="text" name="projectDescription" required value="<%=project.projectDescription%>">
      </fieldset>
      <fieldset>
        <label for="dateSubmitted"> Date Submitted</label>
        <input id="dateSubmitted" type="text" name="dateSubmitted" value="<%=project.dateSubmitted%>">
      </fieldset>
      <fieldset>
        <label for="datePlaced"> Date Placed:</label>
        <input id="datePlaced" type="text" name="datePlaced" value="<%=project.datePlaced%>">
      </fieldset>
      <fieldset>
        <label for="firmName"> Firm Name:</label>
        <input id="firmName" type="text" name="firmName" value="<%=project.firmName%>">
      </fieldset>
      <fieldset>
        <label for="introductionsMade"> Introductions Made:</label>
        <select name="introductionsMade" id="introductionsMade">
        <option value="no">No</option>
        <option value="yes">Yes</option>
        <option value="soon">Soon</option>
        </select>
      </fieldset>
      <fieldset>
        <label for="projectStatus"> Project Status:</label>
        <select name="projectStatus" id="projectStatus" required>
        <option value="available">Available</option>
        <option value="current">Current</option>
        <option value="complete">Complete</option>
        <!-- need to stop reset of value -->
        <!-- probably a good idea to switch to radio buttons -->
        <!-- https://designsmarts.co/the-problem-with-dropdowns/ -->
        </select>
      </fieldset>
      <fieldset>
        <label for="staffName"> Staff Name:</label>
        <input id="staffName" type="text" name="staffName" placeholder="Name Here" value="<%=project.staffName%>">
      </fieldset>
      <fieldset>
        <label for="staffEmail"> Staff Email:</label>
        <input id="staffEmail" type="text" name="staffEmail" placeholder="Name Here" value="<%=project.staffEmail%>">
      </fieldset>
      <fieldset>
        <label for="legalAgreement"> Legal Agreement:</label>
        <input id="legalAgreement" type="text" name="legalAgreement" value="<%=project.legalAgreement%>">
      </fieldset>
      <fieldset>
        <label for="thankYouLetter"> Thank You Letter:</label>
        <input id="thankYouLetter" type="text" name="thankYouLetter" value="<%=project.thankYouLetter%>">
      </fieldset>
          <button class="edit-button">Save Edits</button>
      </div>
    </form>
    <form action="/probono">
    <button class="home-button">Home Page</button>
    </form>
</body>
</html>