<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Edit</title>
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
  <!-- <link rel="stylesheet" href="/css/styles.css">  -->
</head>
<body>
 <h1>Edit Project Page</h1>
    <a href="/probono">Back to the HOME PAGE</a>
    <!-- <form method="POST" action="/probono"> -->
      <form action="/probono/<%=project.id%>?_method=PUT" method="POST" >
      <fieldset>
        <label for="projectName"> Project Name:</label>
        <input id="projectName" type="text" name="projectName" value="<%=project.projectName%>">
      </fieldset>
      <fieldset>
        <label for="projectDescription"> Project Description</label>
        <input id="projectDescription" type="text" name="projectDescription" value="<%=project.projectDescription%>">
      </fieldset>
      <fieldset>
        <label for="dateSubmitted"> Date Submitted</label>
        <input id="dateSubmitted" type="text" name="dateSubmitted" value="<%=project.dateSubmitted%>">
      </fieldset>
       <fieldset>
        <label for="datePlaced"> Date Placed:</label>
        <input id="datePlaced" type="text" name="datePlaced" value="<%=project.datePlaced%>">
      </fieldset>
      <fieldset>
        <label for="firmName"> Firm Name:</label>
        <input id="firmName" type="text" name="firmName" value="<%=project.firmName%>">
      </fieldset>
      <fieldset>
        <label for="introductionsMade"> Introductions Made:</label>
        <select name="introductionsMade" id="introductionsMade">
        <option value="no">No</option>
        <option value="yes">Yes</option>
        <option value="soon">Soon</option>
        </select>
      </fieldset>
      <fieldset>
        <label for="projectStatus"> Project Status:</label>
        <select name="projectStatus" id="projectStatus">
        <option value="available">Available</option>
        <option value="current">Current</option>
        <option value="complete">Complete</option>
        </select>
      </fieldset>
       <fieldset>
        <label for="legalAgreement"> Legal Agreement:</label>
        <input id="legalAgreement" type="text" name="legalAgreement" value="<%=project.legalAgreement%>">
      </fieldset>
       <fieldset>
        <label for="thankYouLetter"> Thank You Letter:</label>
        <input id="thankYouLetter" type="text" name="thankYouLetter" value="<%=project.thankYouLetter%>">
      </fieldset>
      <!-- Plan to make Project Status as radio buttons or checkbox. Will Make the legal agreement and ty letter able to accept a file, like a PDF 1 pager -->

      <!-- Need to add in internal and external contacts here -->
      <!-- <fieldset>
        <label for="internalContacts"> Internal Contacts:</label>
        <input id="internalContacts" type="text" name="internalContacts" placeholder="Name Here">
      </fieldset> -->

    <button>Add the project information</button>
    </form>
  
</body>
</html>