<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>
  <link rel="stylesheet" href="/css/styles.css"> 
  </head>
  <body >
    <h1>Project Page for: <%= project.projectName %> </h1>

    <h3>Project Details</h3>

    <div class="show-page-container">
      <div class="project-segments-1">
        <h4>Project Status:</h4><p class="project-show-para"><%= project.projectStatus %></p> </br>
        <% if (project.projectStatus == 'available') { %>
          <p class="dot-color-green-show dot-show"></p>
          <% } else if(project.projectStatus == 'current') { %>
          <p class="dot-color-yellow-show dot-show"></p>
          <% } else if(project.projectStatus == 'complete') { %>
          <p class="dot-color-red-show dot-show"></p>
          <% } %>
      </div>
      <div class="project-segments-2">
        <h4>Project Description:</h4> <p><%= project.projectDescription %></br></p>
      </div>
      <div class="project-segments-3">
        <h4>Date Submitted:</h4> <p><%= project.dateSubmitted %></br></p> 
      
         <h4>Date Placed:</h4> <p><%= project.datePlaced %> </br></p>
         <h4>Firm Name:</h4> <p><%= project.firmName%> </br></p>

         <h4>Staff Contact:</h4> <p><%= project.staffName %></br></p>
         <h4>Staff Email:</h4> <p> <%= project.staffEmail %></br></p>


      </div>
      <div class="project-segments-4">
        <h4>Legal Agreement:</h4> <p><%= project.legalAgreement %></br></p>
        <h4>Thank You Letter:</h4> <p><%= project.thankYouLetter %></br></p>
      </div>
         
    </div>

     <!-- <a href="/probono/</%=project.id%>/edit">Edit this project: </%= project.name %></a> -->
     
     <form action="/probono/<%=project.id%>/edit">
    <button>Edit</button>
    </form>
<form action="/probono">
    <button>Back to the HOME PAGE</button>
    </form>

  <form action="/probono/<%=project.id%>?_method=DELETE" method="POST">
    <button>Delete</button>

  </form>

  </body>
</html>