<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>
  <link rel="stylesheet" href="/css/styles.css"> 
  </head>
  <body >
    <a href="/probono">Back to the HOME PAGE</a>
    <h1>Project Page for: <%= project.projectName %> </h1>

    <h2>This is the show page for <%= project.projectName %></h2>
    <h3>Project Details</h3>

    <div>
          Project Description: <%= project.projectDescription %> </br>
          Date Submitted: <%= project.dateSubmitted %> </br>
          Date Placed: <%= project.datePlaced %> </br>
          Firm Name: <%= project.firmName%> </br>
          Project Status: <%= project.projectStatus %> </br>
          Legal Agreement: <%= project.legalAgreement %> </br>
          Thank You Letter: <%= project.thankYouLetter %> </br>
          Internal Contacts: <%= project.internalContacts %> </br>

        
          <!-- add internal and external contact here -->
          <!-- https://mongoosejs.com/docs/subdocs.html -->
          <!-- Issue with above is that it is giving me a split string and then the object id? & each time I refresh the index page it gives we a be object Id??? without even trying to edit -->
          <!-- https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON -->
          <!-- https://www.thiscodeworks.com/how-to-save-input-from-html-form-to-json-file-using-body-parser-html-nodejs/5c44c4722178800014d5f127 -->
          <!-- https://json-schema.org/understanding-json-schema/about.html -->
          <!-- https://stackoverflow.com/questions/24130431/javascript-accessing-property-of-objects-inside-an-array -->
          <!-- https://stackoverflow.com/questions/32445211/get-value-of-object-inside-array-inside-object-with-javascript -->
          <!-- https://stackoverflow.com/questions/24402764/mongoose-accessing-nested-object-with-populate -->
    </div>

     <a href="/probono/<%=project.id%>/edit">Edit this project: <%= project.name %></a>
     
     <form action="/probono/<%=project.id%>/edit">
    <button>Edit</button>
    </form>

  <form action="/probono/<%=project.id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>

  </body>
</html>