<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>
  <link rel="stylesheet" href="/css/styles.css"> 
  </head>
  <body >
    <a href="/probono">Back to the HOME PAGE</a>
    <h1>Project Page for: <%= project.projectName %> </h1>

    <h2>This is the show page for <%= project.projectName %></h2>
    <h3>Project Details</h3>

    <div>
          Project Description: <%= project.projectDescription %> </br>
          Date Submitted: <%= project.dateSubmitted %> </br>
          Date Placed: <%= project.datePlaced %> </br>
          Firm Name: <%= project.firmName%> </br>
          Project Status: <%= project.projectStatus %> </br>
          Legal Agreement: <%= project.legalAgreement %> </br>
          Thank You Letter: <%= project.thankYouLetter %> </br>
          Internal Contacts: <%= project.internalContacts %> </br>
    </div>

     <a href="/probono/<%=project.id%>/edit">Edit this project: <%= project.name %></a>
     
     <form action="/probono/<%=project.id%>/edit">
    <button>Edit</button>
    </form>

  <form action="/probono/<%=project.id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>

  </body>
</html>